<style>
    .error {
        margin: 0 auto;
        text-align: center;
    }

    .error-code {
        bottom: 60%;
        color: #2d353c;
        font-size: 96px;
        line-height: 100px;
    }

    .error-desc {
        font-size: 12px;
        color: #647788;
    }

    .m-b-10 {
        margin-bottom: 10px !important;
    }

    .m-b-20 {
        margin-bottom: 20px !important;
    }

    .m-t-20 {
        margin-top: 20px !important;
    }

    a {
        padding: 20px;
        /* margin-top: 20px; */
        color: #2d353c;
        text-decoration: none;
        display: block;
        font-size: 18px;
    }

    .highlight {
        padding: 9px 14px;
        margin-bottom: 14px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
    }

    .highlight pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        word-break: normal;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .highlight pre code:first-child {
        display: inline-block;
        padding-right: 45px;
    }

    .highlight pre code {
        font-size: inherit;
        color: #333;
    }

    pre code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }

    code {
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
    }

    code, kbd, pre, samp {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
</style>

<div class="container">
    <div class="error" style="    padding: 68px;">
        {{#error_message}}
        <div class="error-code m-b-10 m-t-20"> Internal Error! <i class="fa fa-warning"></i></div>
        {{/error_message}}

        {{^error_message}}
        <div class="error-code m-b-10 m-t-20">404 Page Not Found <i class="fa fa-warning"></i></div>
        {{/error_message}}

        {{#error_message}}
        <h3 class="font-bold" style="font-size: 18px;margin: 25px 0;">{{error_message}}</h3>

        {{#not_found}}
        <div style="width: 33%; margin: 0 auto; text-align: left! important">
            <figure class="highlight">
            <pre>
                <code class="language-html" data-lang="html">var layout = {
  ......
  '{{error_layout}}':   'views/{{error_layout}}.html',
  ......
};</code>
            </pre>
            </figure>
        </div>
        {{/not_found}}

        {{/error_message}}

        <div class="error-desc">
            <p style="font-size: 16px; line-height: 25px; color: #647788;">
                Sorry, but the page you are looking for was either not found or does not exist. <br/>
                Try refreshing the page or click the button below to go back to the Homepage. </p>


            <div>
                <a class=" login-detail-panel-button btn" href="#/">
                    <i class="fa fa-arrow-left"></i>
                    Go back to Homepage
                </a>
            </div>

        </div>
    </div>
</div>
