<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> SwallowJs </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {{#home}} class="active" {{/home}}><a href="#/">Home</a></li>
                <li {{#about}} class="active" {{/about}}><a href="#/about"> About </a></li>
            </ul>
        </div>
    </div>
    {{app_version}}
</nav>
-->

<header class="cd-header">
    <div id="cd-logo"><a href="#0">
        <img src="../swallow/utility/css/img/logo_tech.svg" alt="Logo"
             style="width: 154px;padding: 6px;"></a></div>
    <a class="cd-menu-trigger" href="#main-nav">
        copyright 2016, SwallowJs {{ app_version }}
    </a>
</header>
<div class="cd-blurred-bg"></div>

<div class="cd-nugget-info">
    <a href="#/"> Home </a>
    <a href="#/about"> About </a>
    <a target="_BLANK" href="https://github.com/hurlatunde/swallow.js"> Documentation </a>
</div>

