<div id="header"></div>
<script>includeElement('header', 'header-element');</script>

<div id="container" class="container">

    <div class="starter-template">
        <h1>SwallowJs starter Framework</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
            mostly barebones HTML document.</p>
        <a href="https://docs-swallowjs.github.io" class="btn btn-danger" target="_blank"> SwallowJs Doc </a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div>
            <div>
                <p class="text-muted">Check console for more details</p>
            </div>
        </div>
    </div>

</div>

<div id="footer"></div>
<script>includeElement('footer', 'footer-element');</script>