<div id="header"></div>
<script>includeElement('header', 'header-element');</script>

<div class="container">

    <div class="starter-template">
        <h1>SwallowJs {{ app_version }}</h1>
        <p class="lead">A lightweight web services framework that will help kick start your Javascript project <br>
            So Ridiculously Fast & Easy-To-Use You’ll Think It’s Magic</p>
            <a href=" http://docs.swallow.org" class="btn btn-danger" target="_blank"> SwallowJs Doc </a>
    </div>

</div>

<div id="footer"></div>
<script>includeElement('footer', 'footer-element');</script>