---
layout: default.html
title: SwallowJs starter {{full_name}}
---

<main id="cd-main-content">
    <section id="cd-intro">
        <div class="inf">
            <h1> SwallowJs starter Framework </h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a mostly barebones HTML document.</p>
            <a href="https://docs-swallowjs.github.io" class="bt" target="_blank"> SwallowJs Doc </a>
        </div>

        <div id="header"></div>
        <script>includeElement('header', 'header-element');</script>
    </section>
</main>

<div class="cd-shadow-layer"></div>

<div id="carbonads-container">
    <div class="carbonad">
    </div>
</div>

<div id="footer"></div>
<script>includeElement('footer', 'footer-element');</script>