<div class="md-modal md-modal-mini md-effect-11 inner_loading md-show" id="modal-11">
    <div class="md-content">
        <div id="spinner-holder ">
            <div>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div class="text-center"><p id="loading_message"> Swallow Page Loading... </p></div>
        </div>
    </div>
</div>